spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/easy_charging?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=GMT&allowPublicKeyRetrieval=true
    username: root
    password: 123456
  jackson:
    date-format: yyyy年MM月dd日

server:
  port: 8080
  servlet:
    context-path: /easycharging

mybatis:
  mapper-locations: com/song/mapper/*.xml

logging:
  level:
    com:
      song:
        mapper: debug

pagehelper:
  helper-dialect: mysql       # 根据方言来选择合适的分页方式
